torch>=2.0.0
torchvision>=0.15.0
Pillow>=9.0.0
requests>=2.25.0
fastapi>=0.68.0
uvicorn>=0.15.0
pydantic>=1.8.0
prometheus-client>=0.12.0
grpcio>=1.71.0
grpcio-tools>=1.71.0
fastapi-cache2>=0.2.0
redis>=4.5.0
fastapi-throttling>=0.1.0 